.share-cabecera {
    background-color:var(--titulo-fondo);
    padding-left: 0px;
    border-bottom: 1px solid var(--titulo-borde);
}

.share-cabecera-icono {
    font-size: var(--titulo-size);
    color: var(--titulo-letra) !important;
    // border: 2px solid #dadada;
    // padding: 5px;
}
.share-cabecera-texto{
    font-size: var(--titulo-size);
    color: var(--titulo-letra);
}

@media (max-width:400px){
    .share-cabecera-icono {
        font-size: 18px !important;
    }
    .share-cabecera-texto{
        font-size: 18px !important;
    }
       
}