<app-path [lstRutas]="path" />
<div class="content">
  <app-titulo [lstHeader]="titulo" />


  <div class="row barra-menu">
    <div class="col text-end">
      <button role="button" (click)="funcSubmit()" class="btn btn-primary btn-sm ml-1">
        <i role="img" class="fas fa-save"></i> Guardar
      </button>
      <button role="button" (click)="funcCancelar()" class="btn btn-danger btn-sm ml-1">
        <i role="img" class="fas fa-reply"></i> Cancelar
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8 col-lg-10">
      <div class="card mt-3 ">
        <div class="card-header th d-flex justify-content-between">
          <span> Información General </span>
        </div>


        <div class="p-1 row">
          <div class="col-4 col-md-3 td2 text-end">
            Alias <small *ngIf="validador.alias.requerido"><i role="img" class="text-danger">*</i></small>
            <br />
            <small><i role="img" class="text-secondary">{{validador.alias.etiqueta}}</i></small>
          </div>
          <div class="col-8 col-md-9 td2">
            <input type="text" name="alias" id="alias"
              class="form-control {{validador.alias.validacion.resultado == '' ? '' : 'input-danger'}}"
              [(ngModel)]="alias"
            />
            <sup>
              <i role="img" class=" {{validador.alias.validacion.resultado == '' ? 'text-secondary' : 'text-danger' }}">
                {{validador.alias.validacion.resultado == '' ? validador.alias.descripcion : validador.alias.validacion.resultado}}
              </i>
            </sup>
          </div>
        </div>

        <div class="p-1 row">
          <div class="col-4 col-md-3 td2 text-end">
            Limea de comando <small *ngIf="validador.linea_comando.requerido"><i role="img" class="text-danger">*</i></small>
            <br />
            <small><i role="img" class="text-secondary">{{validador.linea_comando.etiqueta}}</i></small>
          </div>
          <div class="col-8 col-md-9 td2">
            <textarea name="linea_comando" id="linea_comando" rows="5"
              class="form-control {{validador.linea_comando.validacion.resultado == '' ? '' : 'input-danger'}}"
              [(ngModel)]="linea_comando"
            ></textarea>
            <sup>
              <i role="img" class=" {{validador.linea_comando.validacion.resultado == '' ? 'text-secondary' : 'text-danger' }}">
                {{validador.linea_comando.validacion.resultado == '' ? validador.linea_comando.descripcion : validador.linea_comando.validacion.resultado}}
              </i>
            </sup>
          </div>
        </div>
        <div class="p-1 row">
          <div class="col-4 col-md-3 td2 text-end">
            
          </div>
          <div class="col-8 col-md-9 td2">
            <button role="button" class="btn btn-link btnayudavisual" (click)="verAyuda=!verAyuda">{{verAyuda ? 'Ocultar ayuda visual' : 'Ver ayuda visual'}}</button>
            <br><br>
            <img role="img" *ngIf="verAyuda" src="/assets/img/template.gif" alt="Template" class="imgtemplate">
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-2">
      <div class="card mt-3 h500">
        <div class="card-header th d-flex justify-content-between">
          <span> Variables</span>
        </div>
        <div class="p-1 row">
          <div class="list-group">
            @for (item of lstVariables; track $index) {
              <li class="list-group-item list-group-item-action"  >
                <div class="d-flex w-100 justify-content-between">
                  <strong class="mb-1">{{item.nombre}}</strong>
                  <button role="button" (click)="addText(item.nombre)" class="btn btn-primary btn-sm"><i role="img" class="fas fa-plus"></i></button>
                </div>
                <small>{{item.descripcion}}</small>
              </li>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
