<header class="row">
  <div class="col  d-flex justify-content-between">
    <h5>{{Title}}</h5> 
    <div>
        <span class="mr-2 sentinel">{{global.agent}}</span>
        <span class="ml-2 {{light_ws  ? 'text-success bold' : 'text-danger bold'}}">{{agente_status}}</span>
    </div>
    <!-- <div class=""><i *ngIf="loadMonitoreo" class="t14 text-primary mr-2"><i role="img" class="fas fa-spinner fa-spin "></i> Cargando</i></div> -->
    <div class="btn-group mr-1" role="group" aria-label="Basic example">
      <button role="button" [disabled]="playMonitor"  class="btn btn-primary " (click)="openWS()"  title="Iniciar Monitoreo"><i role="img" class="fas fa-play"></i> </button>
      <button role="button" [disabled]="!playMonitor" class="btn btn-primary " (click)="stopMonitor()"  title="Detener Monitoreo"><i role="img" class="fas fa-stop"></i> </button>
      <!-- <button role="button" [disabled]="playMonitor"  class="btn btn-primary btn-sm" (click)="sendMonitor()"  title="Monitorear una vez"><i role="img" class="far fa-play-circle"></i> Una vez</button> -->
    </div>
    <!-- <button role="button" (click)="openConn()" class="btn btn-primary btn-sm"><i role="img" class="fas fa-repeat"></i> Recargar</button> -->
  </div>
</header>

<section class="row">
  <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-4 content-stats">
    <div class="stats" style="width: 50%">
        <span class="icono icono-rojo">
          <i class="fas fa-server"></i>
        </span>
        <span class="seccion">HOST</span>
        <span class="valor valor-rojo">{{work.host}}</span>
        <span class="avgS">  
          <small><i>Usuarios Asignados:</i></small> &nbsp;
          <span class="bold">{{rstServidor.usuarios.length}}</span> 
        </span>
        <!-- <span class="avgS">  
          <small><i>Tiempo activo:</i></small> &nbsp;
          <span class="bold">{{lstDatos.uptime}}</span> 
        </span> -->
      </div>
    <div class="stats" style="width: 50%">
        <span class="icono icono-morado">
          <i class="far fa-clock"></i>
        </span>
        <span class="seccion">TIEMPO ACTIVO</span>
        <span class="valor valor-morado">{{lstDatos.uptime}}</span>
        <span class="avg"><i>Hora del servidor {{lstDatos.hora}}</i></span>
      </div>
  </div>

  
  <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-4 content-stats">
      <div class="stats" style="width:33%;">
          <span class="icono icono-rojo">
              <i class="fas fa-memory"></i>
          </span>
          <span class="seccion">RAM</span>
          <span class="valor  valor-rojo">{{lstDatos.memoria.porcentaje}}%</span>
          <div class="progress" role="progressbar" aria-label="Porcentaje RAM" aria-valuemin="0" aria-valuemax="100" >
              <div class="progress-bar pbar-rojo" style="width: {{lstDatos.memoria.porcentaje}}%" ></div>
          </div>
          <span class="avg">{{lstDatos.memoria.usado}} / {{lstDatos.memoria.total}}</span>
      </div>

      <div class="stats" style="width:33%;">
          <span class="icono icono-morado">
              <i class="fas fa-microchip"></i>
          </span>
          <span class="seccion">CPU</span>
          <span class="valor valor-morado">{{lstDatos.cpu.porcentaje}}%</span>
          <div class="progress" role="progressbar" aria-label="Porcentaje RAM" aria-valuemin="0" aria-valuemax="100" >
              <div class="progress-bar pbar-morado" style="width: {{lstDatos.cpu.porcentaje}}%" ></div>
          </div>
          <span class="avg">
              <div class="row">
                  <div class="col text-end bold text-primary">{{lstDatos.cpu.t1}}</div>
                  <div class="col text-end bold text-primary">{{lstDatos.cpu.t5}}</div>
                  <div class="col text-end bold text-primary">{{lstDatos.cpu.t15}}</div>
              </div>
              <div class="row">
                  <div class="col t10 text-danger bold text-end">1m</div>
                  <div class="col t10 text-danger bold text-end">5m</div>
                  <div class="col t10 text-danger bold text-end">15m</div>
              </div>
          </span>
      </div>

      <div class="stats" style="width:33%;">
          <span class="icono icono-verde">
              <i class="fas fa-sd-card"></i>
          </span>
          <span class="seccion">DISCO</span>
          <span class="valor valor-verde">{{lstDatos.disco.porcentaje}}</span>
          <div class="progress" role="progressbar" aria-label="Porcentaje RAM" aria-valuemin="0" aria-valuemax="100" >
              <div class="progress-bar pbar-verder" style="width: {{lstDatos.disco.porcentaje}}" ></div>
          </div>
          <span class="avg">{{lstDatos.disco.usado}} / {{lstDatos.disco.total}}</span>
      </div>

  </div>

  <div class="col col-sm-12 col-md-6 col-lg-4 col-xl-4 content-stats chartjs-wrapper">
    <div class="stats" style="width:100%;">
      <canvas
        baseChart
        width="1200"
        height="400"
        [type]="'line'"
        [data]="cpuChartData"
        [options]="cpuChartOptions"
        [legend]="chartLegend"
      >
      </canvas>
    </div>
  </div>

  <div class="col col-sm-12 col-md-12 col-lg-6 col-xl-12 content-statss ">
    <h5>Procesos <small class="t12 text-secondary">(limit=10)</small>  </h5> 
    <div #myGrid id="myGrid" class="ag-theme-quartz" style="height: 300px; min-height: 300px"></div>

    <!-- <table class="table table-striped">
      <thead>
          <tr>
              <th class="th-normal text-white t12">PID</th>
              <th class="th-normal text-white t12">USER</th>
              <th class="th-normal text-white t12">PR</th>
              <th class="th-normal text-white t12">NI</th>
              <th class="th-normal text-white t12">VIRT</th>
              <th class="th-normal text-white t12">RES</th>
              <th class="th-normal text-white t12">SHR</th>
              <th class="th-normal text-white t12">S</th>
              <th class="th-normal text-white t12">%CPU</th>
              <th class="th-normal text-white t12">%MEM</th>
              <th class="th-normal text-white t12">TIME+</th>
              <th class="th-normal text-white t12">COMMAND</th>
          </tr>
      </thead>
      <tbody>
      @for (p of lstDatos.procesos; track $index) {
            <tr>
                @for (i of p; track $index) {
                    <td>{{i}}</td>
                }
            </tr>
        }
      </tbody>
    </table> -->
  </div>
   
</section>