<app-breadcrums />
<div class="content">
  <app-header />

  <div class="buttons-grup mb-2 text-end">
    <button (click)="funcSubmit()" class="btn btn-primary btn-sm ml-1"><i class="fas fa-save"></i> Guardar</button>
    <button (click)="funcCancelar()" class="btn btn-danger btn-sm ml-1"><i class="fas fa-reply"></i> Cancelar</button>
  </div>


  <div class="container-fluid">
    <div class="row contenido">
      <div class="col">
        <div class="row titulo">
          <div class="col-12 d-flex justify-content-between">
            <span> Información General </span>
            <i class="far fa-question-circle text-primary"></i>
          </div>
        </div>

        <div class="row">
          @if (user.idrol == 1){
          <div class="col-4 col-md-2 th text-end">Rol</div>
          <div class="col-8 col-md-4 td d-flex justify-content-around">
            <select [(ngModel)]="formData.idrol" name="idrol" id="idrol" class="form-control">
              <option value="1">Owner</option>
              <option value="2">Creadores</option>
              <option value="3">Clientes</option>
            </select>
          </div>

          <div class="col-4 col-md-2 th text-end">Cliente</div>
          <div class="col-8 col-md-4 td d-flex justify-content-around">
            <select [(ngModel)]="formData.idcliente" (click)="getGrupoUsuarios()" name="idcliente" id="idcliente" class="form-control">
              @for (item of lstClientes; track $index) {
              <option value="{{item.idcliente}}">{{item.nombre}}</option>
              }
            </select>
          </div>
          }

          <div class="col-4 col-md-2 th text-end">Grupo</div>
          <div class="col-8 col-md-4 td d-flex justify-content-around">
            <select [(ngModel)]="formData.idgrupo_usuario" name="idgrupo_usuario" id="idgrupo_usuario" class="form-control" >
              @if(lstGrupoUsuarios.length>0){ @for (item of lstGrupoUsuarios;
              track $index) {
              <option value="{{item.idgrupo_usuario}}">{{item.nombre}}</option>
              } } @else{
              <option value="">-- No existen grupos definidos --</option>
              }
            </select>
          </div>

          <div class="col-4 col-md-2 th text-end">Nombre Completo</div>
          <div class="col-8 col-md-4 td d-flex justify-content-around">
            <input [(ngModel)]="formData.nombre" type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre del usuario"/>
          </div>

          <div class="col-4 col-md-2 th text-end">Usuario (login)</div>
          <div class="col-8 col-md-4 td d-flex justify-content-around">
            <input [(ngModel)]="formData.usuario" type="text" name="nombre" id="nombre" class="form-control" placeholder="Usuario"/>
          </div>

          <div class="col-4 col-md-2 th text-end">Email</div>
          <div class="col-8 col-md-4 td d-flex justify-content-around">
            <input [(ngModel)]="formData.email" type="email" name="email" id="email" class="form-control" placeholder="nombre@empresa.com"/>
          </div>

          <div class="col-4 col-md-2 th text-end">Identificador NTFY</div>
          <div class="col-8 col-md-4 td d-flex justify-content-around">
            <input [(ngModel)]="formData.ntfy_identificador" type="text" name="ntfy_identificador" id="ntfy_identificador" class="form-control" placeholder=""/>
          </div>

          <div class="col-4 col-md-2 th text-end">Estado</div>
          <div class="col-8 col-md-4 td d-flex justify-content-around">
            <select [(ngModel)]="formData.estado" name="estado" id="estado" class="form-control">
              <option value="1">Activo</option>
              <option value="0">Inactivo</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
