<app-path [lstRutas]="path" />
<div class="content">
  <app-titulo [lstHeader]="titulo" />
  <section class="row barra-menu">
    <div class="col text-end">
      <button role="button" aria-label="Editar configuracion" *ngIf="!accionEditar" (click)="accionEditar=!accionEditar" class="btn btn-primary btn-sm ml-1">
        <i role="img" class="far fa-edit"></i> Editar
      </button>
      <button role="button"   aria-label="Guardar configuracion" *ngIf="accionEditar" (click)="funcSubmit()" class="btn btn-primary btn-sm ml-1">
        <i role="img" class="fas fa-save"></i> Guardar
      </button>
      <button role="button"  role="button"  aria-label="Cancelar configuracion" *ngIf="accionEditar" (click)="funcCancelar()" class="btn btn-danger btn-sm ml-1">
        <i role="img" class="fas fa-reply"></i> Cancelar
      </button>
      <button role="button"  role="button"  (click)="getData()" aria-label="Refrescar" class="btn btn-white btn-sm ml-1" title="Refrescar">
        <i role="img" class="fas fa-sync-alt"></i>
      </button>
    </div>
  </section>

  <section class="row">
    <div class="col col-md-12">
      <div class="card mt-3">
        <div class="card-header th2 d-flex justify-content-between">
          <span aria-label="Información General del Cliente"> Información General </span>
          <i role="img" class="far fa-question-circle text-primary"></i>
        </div>

        <div class="p-1 row">
          <div class="col-4 col-md-2 td2 text-end">
            <label for="cliente_nombre">Razon Social</label> <small><i role="img" class="text-danger">*</i></small>
            <br />
            <small><i role="img" class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-10 td2">
            <input type="text" name="cliente_nombre" id="cliente_nombre" class="form-control {{validaNombre == '' ? '' : 'input-danger'}}"

              [readonly]="!accionEditar" [(ngModel)]="cliente_nombre" (blur)="validacionCampos('nombre')"
            />
            <sup>
              <i  [attr.aria-label]="validaNombre" class=" {{validaNombre == '' ? 'text-secondary' : 'text-danger' }}">
                {{validaNombre == '' ? 'Razon social de la empresa.' : validaNombre}}
              </i>
            </sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="cliente_identificacion">R.U.C.</label> <small><i role="img" class="text-danger">*</i></small>
            <br />
            <small><i role="img" class="text-secondary">Numérico</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input type="number" name="cliente_identificacion" id="cliente_identificacion" 
              class="form-control {{validaRUC == '' ? '' : 'input-danger'}}"
              [disabled]="!accionEditar" [(ngModel)]="cliente_identificacion" 
              (blur)="validacionCampos('ruc')"
            />
            <sup>
              <i [attr.aria-label]="validaRUC" class=" {{validaRUC == '' ? 'text-secondary' : 'text-danger' }}">
                {{validaRUC == '' ? 'El número de la identificación de la empresa.' : validaRUC}}
              </i>
            </sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="cliente_telefono">Teléfono</label>
            <br />
            <small><i role="img" class="text-secondary">Numérico</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="cliente_telefono"
              id="cliente_telefono"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="cliente_telefono"
            />
            <sup><i role="img" class="text-secondary">El número de teléfono.</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="cliente_direccion">Dirección</label>
            <br />
            <small><i role="img" class="text-secondary">Numérico</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="cliente_direccion"
              id="cliente_direccion"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="cliente_direccion"
            />
            <sup
              ><i role="img" class="text-secondary"
                >Dirección domiciliaria de la empresa.</i
              ></sup
            >
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="cliente_direccion">Usuario Principal</label>
            <br />
            <small><i role="img" class="text-secondary">Selección</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <select [disabled]="!accionEditar" [(ngModel)]="idusuario" name="idusuario" id="idusuario" class="form-control">
              @if(lstUsuarios.length>0){
                @for (item of lstUsuarios; track $index) {
                  <option value="{{item.idusuario}}">{{item.nombre}}</option>
                }
              }@else {
                <option value=""> -- No hay métodos definidos --</option>
              }
            </select>
            <sup
              ><i role="img" class="text-secondary"
                >Usuario principal de clase superusuario .</i
              ></sup
            >
          </div>
        </div>
      </div>

      <!-- <div class="card mt-3">
        <div class="card-header th2 d-flex justify-content-between">
          <span aria-label="Configuracion LDAP"> LDAP </span>
          <i role="img" class="far fa-question-circle text-primary"></i>
        </div>

        <div class="p-1 row">
          <div class="col-4 col-md-2 td2 text-end">
            <label for="ldap_servidor">Host</label>
            <br />
            <small><i role="img" class="text-secondary">IP o URL</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="ldap_servidor"
              id="ldap_servidor"
              class="form-control"
              [disabled]="!accionEditar"
              [(ngModel)]="ldap_servidor"
            />
            <sup><i role="img" class="text-secondary">https://ldap.example.com.</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="ldap_puerto">Puerto</label>
            <br />
            <small><i role="img" class="text-secondary">Numérico</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="ldap_puerto"
              id="ldap_puerto"
              class="form-control"
              [disabled]="!accionEditar"
              [(ngModel)]="ldap_puerto"
            />
            <sup><i role="img" class="text-secondary">Número de puerto de acceso</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="ldap_base_dn">Base DN</label>
            <br />
            <small><i role="img" class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="ldap_base_dn"
              id="ldap_base_dn"
              class="form-control"
              [disabled]="!accionEditar"
              [(ngModel)]="ldap_base_dn"
            />
            <sup><i role="img" class="text-secondary">cn=admin,dc=example,dc=com</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="ldap_usuario">Usuario</label>
            <br />
            <small><i role="img" class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="ldap_usuario"
              id="ldap_usuario"
              class="form-control"
              [disabled]="!accionEditar"
              [(ngModel)]="ldap_usuario"
            />
            <sup
              ><i role="img" class="text-secondary"
                >Nombre de usuario de acceso al LDAP</i
              ></sup
            >
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="ldap_clave">Contraseña</label>
            <br />
            <small><i role="img" class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input type="text" name="ldap_clave" id="ldap_clave" class="form-control"
              [disabled]="!accionEditar" [(ngModel)]="ldap_clave" />
            <sup><i role="img" class="text-secondary">Contraseña</i></sup>
          </div>
        </div>
      </div> -->

      <div class="card mt-3">
        <div class="card-header th2 d-flex justify-content-between">
          <span aria-label="Factor de Autenticacion"> Factor de Autenticación y Comunicación </span>
          <i role="img" class="far fa-question-circle text-primary"></i>
        </div>

        <div class="p-1 row">
          
          <div class="col-4 col-md-2 td2 text-end">
            <label for="segundo_factor_activo">Estado</label>
            <br />
            <small><i role="img" class="text-secondary">Selección</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
             <select [disabled]="!accionEditar" [(ngModel)]="segundo_factor_activo" name="segundo_factor_activo" id="segundo_factor_activo" class="form-control">
              @if(lstEstado.length>0){
                @for (item of lstEstado; track $index) {
                  <option value="{{item.id}}">{{item.nombre}}</option>
                }
              }@else {
                <option value=""> -- No hay métodos definidos --</option>
              }
            </select>
            <sup><i role="img" class="text-secondary">
                Estado de activación de segundo factor de autenticación.
            </i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="segundo_factor_metodo">Método</label>
            <br />
            <small><i role="img" class="text-secondary">Selección</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
             <select [disabled]="!accionEditar" [(ngModel)]="segundo_factor_metodo"  name="segundo_factor_metodo" id="segundo_factor_metodo" class="form-control">
              @if(lstMetodos.length>0){
                @for (item of lstMetodos; track $index) {
                  <option value="{{item.id}}">{{item.nombre}}</option>
                }
              }@else {
                <option value=""> -- No hay métodos definidos --</option>
              }
            </select>
            <sup><i role="img" class="text-secondary">
                Método de contacto y de autenticación.
            </i></sup>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header th2 d-flex justify-content-between">
          <span aria-label="Scripts asignados de forma general por acción ">Scripts asignados de forma general por acción</span>
          <i role="img" class="far fa-question-circle text-primary"></i>
        </div>

        <div class="p-1 row">
          <!-- <div class="col-4 col-md-2 td2 text-end">
            <label for="idscript_creacion_grupo_usuarios">Creación Grupo de Usuario</label>
            <br />
            <small><i role="img" class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <select [disabled]="!accionEditar" [(ngModel)]="idscript_creacion_grupo_usuarios" name="idscript_creacion_grupo_usuarios" id="idscript_creacion_grupo_usuarios" class="form-control">
              @if(lstScripts.length>0){
                @for (item of lstScripts; track $index) {
                  <option value="{{item.idscript}}">{{item.nombre}}</option>
                }
              }@else {
                <option value=""> -- No hay scripts asignados --</option>
              }
            </select>
            <sup><i role="img" class="text-secondary">Script asignado para ejecutar cuando se crea un grupo de usuarios</i></sup>
          </div> -->

          <div class="col-4 col-md-2 td2 text-end">
            <label for="idscript_creacion_usuario">Creación de Usuarios</label>
            <br />
            <small><i role="img" class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <select [disabled]="!accionEditar" [(ngModel)]="idscript_creacion_usuario" 
              name="idscript_creacion_usuario" id="idscript_creacion_usuario" class="form-control">
              @if(lstScripts.length>0){
                @for (item of lstScripts; track $index) {
                  <option value="{{item.idscript}}">{{item.nombre}}</option>
                }
              }@else {
                <option value=""> -- No hay scripts asignados --</option>
              }
            </select>
            <sup><i role="img" class="text-secondary">Script asignado para ejecutar cuando se crea un usuarios</i></sup>
          </div>
        </div>
      </div>


      <div class="card mt-3">
        <div class="card-header th2 d-flex justify-content-between">
          <span aria-label="Area de definicion de tiempos"> Tiempos</span>
          <i role="img" class="far fa-question-circle text-primary"></i>
        </div>

        <div class="p-1 row">

          <div class="col-4 col-md-2 td2 text-end">
            <label for="tiempo_refresco">General</label>  
            <br />
            <small><i role="img" class="text-secondary">Numérico <small class="text-danger">[seg]</small></i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="number"
              name="tiempo_refresco"
              id="tiempo_refresco"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="tiempo_refresco"
            />
            <sup><i role="img" class="text-secondary">Refresco para dashboard y notificaciones.</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="tiempo_caducidad_claves">Contraseñas </label>
            <br />
            <small><i role="img" class="text-secondary">Numérico <small class="text-danger">[dias]</small></i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="number"
              name="tiempo_caducidad_claves"
              id="tiempo_caducidad_claves"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="tiempo_caducidad_claves"
            />
            <sup><i role="img" class="text-secondary">Tiempo de caducidad para contraseñas.</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="tiempo_caducidad_claves">Fecha general de caducidad de Contraseñas </label>
            <br />
            <small><i role="img" class="text-secondary">Fecha <small class="text-danger">[aaaa-mm-dd]</small></i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="date"
              name="tiempo_caducidad_claves"
              id="tiempo_caducidad_claves"
              class="form-control"
              placeholder="Fecha"
              [disabled]="!accionEditar"
              [(ngModel)]="fecha_limite_validez_clave"
            />
            <sup><i role="img" class="text-secondary">Tiempo de caducidad límite para contraseñas de todos los usuarios.</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            <label for="tiempo_caducidad_token_usuarios">Token para usuarios </label>
            <br />
            <small><i role="img" class="text-secondary">Numérico <small class="text-danger">[dias]</small></i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="number"
              name="tiempo_caducidad_token_usuarios"
              id="tiempo_caducidad_token_usuarios"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="tiempo_caducidad_token_usuarios"
            />
            <sup><i role="img" class="text-secondary">Tiempo de caducidad para token de usuarios.</i></sup>
          </div>

          <!-- <div class="col-4 col-md-2 td2 text-end">
            <label for="tiempo_caducidad_token_agente">Token para {{global.agent}} </label>
            <br />
            <small><i role="img" class="text-secondary">Numérico <small class="text-danger">[dias]</small></i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="number"
              name="tiempo_caducidad_token_agente"
              id="tiempo_caducidad_token_agente"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="tiempo_caducidad_token_agente"
            />
            <sup><i role="img" class="text-secondary">Tiempo de caducidad para token de agentes.</i></sup>
          </div> -->


        </div>
      </div>

    </div>
  </section>
</div>
