<app-breadcrums />
<div class="content">
  <app-header />

  <div class="row barra-menu">
    <div class="col text-end">
      <button
        *ngIf="!accionEditar"
        (click)="accionEditar=!accionEditar"
        class="btn btn-primary btn-sm ml-1"
      >
        <i class="far fa-edit"></i> Editar
      </button>
      <button
        *ngIf="accionEditar"
        (click)="funcSubmit()"
        class="btn btn-primary btn-sm ml-1"
      >
        <i class="fas fa-save"></i> Guardar
      </button>
      <button
        *ngIf="accionEditar"
        (click)="funcCancelar()"
        class="btn btn-danger btn-sm ml-1"
      >
        <i class="fas fa-reply"></i> Cancelar
      </button>
      <button (click)="getData()" class="btn btn-info btn-sm ml-1">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-12">
      <div class="card mt-3">
        <div class="card-header th2 d-flex justify-content-between">
          <span> Información General </span>
          <i class="far fa-question-circle text-primary"></i>
        </div>

        <div class="p-1 row">
          <div class="col-4 col-md-2 td2 text-end">
            Razon Social <small><i class="text-danger">*</i></small>
            <br />
            <small><i class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-10 td2">
            <input type="text" name="cliente_nombre" id="cliente_nombre" class="form-control {{validaNombre == '' ? '' : 'input-danger'}}"

              [disabled]="!accionEditar" [(ngModel)]="cliente_nombre" (blur)="validacionCampos('nombre')"
            />
            <sup>
              <i class=" {{validaNombre == '' ? 'text-secondary' : 'text-danger' }}">
                {{validaNombre == '' ? 'Razon social de la empresa.' : validaNombre}}
              </i>
            </sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            R.U.C. <small><i class="text-danger">*</i></small>
            <br />
            <small><i class="text-secondary">Numérico</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input type="number" name="cliente_identificacion" id="cliente_identificacion" 
              class="form-control {{validaRUC == '' ? '' : 'input-danger'}}"
              [disabled]="!accionEditar" [(ngModel)]="cliente_identificacion" 
              (blur)="validacionCampos('ruc')"
            />
            <sup>
              <i class=" {{validaRUC == '' ? 'text-secondary' : 'text-danger' }}">
                {{validaRUC == '' ? 'El número de la identificación de la empresa.' : validaRUC}}
              </i>
            </sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Teléfono
            <br />
            <small><i class="text-secondary">Numérico</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="cliente_telefono"
              id="cliente_telefono"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="cliente_telefono"
            />
            <sup><i class="text-secondary">El número de teléfono.</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Dirección
            <br />
            <small><i class="text-secondary">Numérico</i></small>
          </div>
          <div class="col-8 col-md-10 td2">
            <input
              type="text"
              name="cliente_direccion"
              id="cliente_direccion"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="cliente_direccion"
            />
            <sup
              ><i class="text-secondary"
                >Dirección domiciliaria de la empresa.</i
              ></sup
            >
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header th2 d-flex justify-content-between">
          <span> LDAP </span>
          <i class="far fa-question-circle text-primary"></i>
        </div>

        <div class="p-1 row">
          <div class="col-4 col-md-2 td2 text-end">
            Host
            <br />
            <small><i class="text-secondary">IP o URL</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="ldap_servidor"
              id="ldap_servidor"
              class="form-control"
              [disabled]="!accionEditar"
              [(ngModel)]="ldap_servidor"
            />
            <sup><i class="text-secondary">https://ldap.example.com.</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Puerto
            <br />
            <small><i class="text-secondary">Numérico</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="ldap_puerto"
              id="ldap_puerto"
              class="form-control"
              [disabled]="!accionEditar"
              [(ngModel)]="ldap_puerto"
            />
            <sup><i class="text-secondary">Número de puerto de acceso</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Base DN
            <br />
            <small><i class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="ldap_base_dn"
              id="ldap_base_dn"
              class="form-control"
              [disabled]="!accionEditar"
              [(ngModel)]="ldap_base_dn"
            />
            <sup><i class="text-secondary">cn=admin,dc=example,dc=com</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Usuario
            <br />
            <small><i class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="text"
              name="ldap_usuario"
              id="ldap_usuario"
              class="form-control"
              [disabled]="!accionEditar"
              [(ngModel)]="ldap_usuario"
            />
            <sup
              ><i class="text-secondary"
                >Nombre de usuario de acceso al LDAP</i
              ></sup
            >
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Contraseña
            <br />
            <small><i class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input type="text" name="ldap_clave" id="ldap_clave" class="form-control"
              [disabled]="!accionEditar" [(ngModel)]="ldap_clave" />
            <sup><i class="text-secondary">Contraseña</i></sup>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header th2 d-flex justify-content-between">
          <span> Factor de Autenticación y Comunicación </span>
          <i class="far fa-question-circle text-primary"></i>
        </div>

        <div class="p-1 row">
          
          <div class="col-4 col-md-2 td2 text-end">
            Estado
            <br />
            <small><i class="text-secondary">Selección</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
             <select [disabled]="!accionEditar" [(ngModel)]="segundo_factor_activo" name="segundo_factor_activo" id="segundo_factor_activo" class="form-control">
              @if(lstEstado.length>0){
                @for (item of lstEstado; track $index) {
                  <option value="{{item.id}}">{{item.nombre}}</option>
                }
              }@else {
                <option value=""> -- No hay métodos definidos --</option>
              }
            </select>
            <sup><i class="text-secondary">
                Estado de activación de segundo factor de autenticación.
            </i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Método
            <br />
            <small><i class="text-secondary">Selección</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
             <select [disabled]="!accionEditar" [(ngModel)]="segundo_factor_metodo"  name="segundo_factor_metodo" id="segundo_factor_metodo" class="form-control">
              @if(lstMetodos.length>0){
                @for (item of lstMetodos; track $index) {
                  <option value="{{item.id}}">{{item.nombre}}</option>
                }
              }@else {
                <option value=""> -- No hay métodos definidos --</option>
              }
            </select>
            <sup><i class="text-secondary">
                Método de contacto y de autenticación.
            </i></sup>
          </div>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header th2 d-flex justify-content-between">
          <span> Scripts asignados por acción </span>
          <i class="far fa-question-circle text-primary"></i>
        </div>

        <div class="p-1 row">
          <div class="col-4 col-md-2 td2 text-end">
            Creación Grupo de Usuario
            <br />
            <small><i class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <select [disabled]="!accionEditar" [(ngModel)]="idscript_creacion_grupo_usuarios" name="idscript_creacion_grupo_usuarios" id="idscript_creacion_grupo_usuarios" class="form-control">
              @if(lstScripts.length>0){
                @for (item of lstScripts; track $index) {
                  <option value="{{item.idscript}}">{{item.nombre}}</option>
                }
              }@else {
                <option value=""> -- No hay scripts asignados --</option>
              }
            </select>
            <sup><i class="text-secondary">Script asignado para ejecutar cuando se crea un grupo de usuarios</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Creación de Usuarios
            <br />
            <small><i class="text-secondary">Alfabético</i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <select [disabled]="!accionEditar" [(ngModel)]="idscript_creacion_usuario" 
              name="idscript_creacion_usuario" id="idscript_creacion_usuario" class="form-control">
              @if(lstScripts.length>0){
                @for (item of lstScripts; track $index) {
                  <option value="{{item.idscript}}">{{item.nombre}}</option>
                }
              }@else {
                <option value=""> -- No hay scripts asignados --</option>
              }
            </select>
            <sup><i class="text-secondary">Script asignado para ejecutar cuando se crea un usuarios</i></sup>
          </div>
        </div>
      </div>


      <div class="card mt-3">
        <div class="card-header th2 d-flex justify-content-between">
          <span> Tiempos</span>
          <i class="far fa-question-circle text-primary"></i>
        </div>

        <div class="p-1 row">

          <div class="col-4 col-md-2 td2 text-end">
            General 
            <br />
            <small><i class="text-secondary">Numérico <small class="text-danger">[seg]</small></i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="number"
              name="tiempo_refresco"
              id="tiempo_refresco"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="tiempo_refresco"
            />
            <sup><i class="text-secondary">Refresco para dashboard y notificaciones.</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Contraseñas 
            <br />
            <small><i class="text-secondary">Numérico <small class="text-danger">[dias]</small></i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="number"
              name="tiempo_caducidad_claves"
              id="tiempo_caducidad_claves"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="tiempo_caducidad_claves"
            />
            <sup><i class="text-secondary">Tiempo de caducidad para contraseñas.</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Token para usuarios 
            <br />
            <small><i class="text-secondary">Numérico <small class="text-danger">[dias]</small></i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="number"
              name="tiempo_caducidad_token_usuarios"
              id="tiempo_caducidad_token_usuarios"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="tiempo_caducidad_token_usuarios"
            />
            <sup><i class="text-secondary">Tiempo de caducidad para token de usuarios.</i></sup>
          </div>

          <div class="col-4 col-md-2 td2 text-end">
            Token para {{global.agent}} 
            <br />
            <small><i class="text-secondary">Numérico <small class="text-danger">[dias]</small></i></small>
          </div>
          <div class="col-8 col-md-4 td2">
            <input
              type="number"
              name="tiempo_caducidad_token_agente"
              id="tiempo_caducidad_token_agente"
              class="form-control"
              placeholder="Telefono"
              [disabled]="!accionEditar"
              [(ngModel)]="tiempo_caducidad_token_agente"
            />
            <sup><i class="text-secondary">Tiempo de caducidad para token de agentes.</i></sup>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>
