<app-path [lstRutas]="path" />
<div class="content">
  <app-titulo [lstHeader]="titulo" />

  <section class="card">
    <div class="row">
      <div class="col-12 col-md-4 p-5 ">
        <label for="buscarServer"><i class="fas fa-server text-primary"></i><i> Lista de Servidores</i></label>
        <input type="text" [(ngModel)]="oBuscarServer" (keyup)="buscarServer($event)"  id="buscarServer" name="buscarServer" class="form-control" placeholder="Texto a buscar">
        <ul class="list-group list-group-flush h200 border mt-3" >
          @for (item of lstServidores; track $index) {
            <li class="list-group-item d-flex justify-content-between" (click)="checkServer(item.idservidor)">
              <span><i class="fas fa-server text-primary"></i> {{item.nombre}}</span>
              @if(item.checked){
                <i class="far fa-check-circle t16 text-success"></i> 
              }@else {
                <i class="fas fa-minus-circle t16 text-secondary"></i> 
              }
            </li>
          }
        </ul>
        
      </div>
      <div class="col-12 col-md-4 p-5 linea-izquierda linea-derecha">
        <label for="buscarScript"><i class="fas fa-superscript text-primary"></i> <i> Lista de Scripts</i></label>
        <input type="text" [(ngModel)]="oBuscarScripts" (keyup)="buscarScripts($event)"  id="buscarScript" name="buscarScript" class="form-control" placeholder="Texto a buscar">
        <ul class="list-group list-group-flush h200 border mt-3">
          @for (item of this.lstScripts; track $index) {
            <li class="list-group-item d-flex justify-content-between" (click)="checkScript(item.idscript)">
              <span><i class="fas fa-superscript text-primary"></i> {{item.nombre}}</span>

              @if(item.checked){
                <i class="far fa-check-circle t16 text-success"></i> 
              }@else {
                <i class="fas fa-minus-circle t16 text-secondary"></i> 
              }
            </li>
          }
        </ul>
        
      </div>
      <div class="col-12 col-md-4 p-5">
        <label for="buscarComandos"><i class="fab fa-wpforms text-primary"></i> <i> Lista de Comandos</i></label>
        <input type="text" [(ngModel)]="oBuscarComandos" (keyup)="buscarComandos($event)"  id="buscarComandos" name="buscarComandos" class="form-control" placeholder="Texto a buscar">
        <ul class="list-group list-group-flush h200 border mt-3">
          @for (item of this.lstComandos; track $index) {
            <li class="list-group-item d-flex justify-content-between" (click)="checkComandos(item.idtemplate_comando)">
              <span><i class="fab fa-wpforms text-primary"></i> {{item.linea_comando}}</span>
              @if(item.checked){
                <i class="far fa-check-circle t16 text-success"></i> 
              }@else {
                <i class="fas fa-minus-circle t16 text-secondary"></i> 
              }
            </li>
          }
        </ul>
        
        
      </div>
    </div>
  </section>



  <section class="card mt-2 p-5">
    <h4>Recursos Seleccionados</h4>
    <div class="row mb-2">
      <label class="bold" for="buscarServer"> <i class="fas fa-server text-primary"></i> <i> Lista de Servidores</i></label>
    </div>
    <ul class="list-group" >
      @for (item of lstServidores; track $index) {
        @if(item.checked){
          <li class="list-group-item d-flex justify-content-between" >
            <span class="text-black">{{item.nombre}} </span>
            <button (click)="checkServer(item.idservidor)" class="btn btn-link text-white">
            <i class="far fa-times-circle t20 text-dark"></i>
          </button>
          </li>
        }
      }
    </ul>
    <br><br>

    <div class="row mb-2 mt-3">
      <label class="bold" for="buscarServer"><i class="fas fa-superscript text-primary"></i><i> Lista de Scripts</i></label>
    </div>
     <ul class="list-group" >
      @for (item of lstScripts; track $index) {
        @if(item.checked){
          <li class="list-group-item d-flex justify-content-between" >
            <span class="text-black">{{item.nombre}} </span>
            <button (click)="checkScript(item.idscript)" class="btn btn-link text-white">
            <i class="far fa-times-circle t20 text-dark"></i>
          </button>
          </li>
        }
      }
    </ul>

    <br><br>

    <div class="row mb-2 mt-3">
      <label class="bold" for="buscarServer"><i class="fab fa-wpforms text-primary"></i> <i> Lista de Comandos</i></label>
    </div>
     <ul class="list-group" >
      @for (item of lstComandos; track $index) {
        @if(item.checked){
          <li class="list-group-item d-flex justify-content-between" >
            <span class="text-black">{{item.linea_comando}} </span>
            <button (click)="checkScript(item.idtemplate_comando)" class="btn btn-link text-white">
            <i class="far fa-times-circle t20 text-dark"></i>
          </button>
          </li>
        }
      }
    </ul>
    
  </section>

  <section class="card mt-2 p-5">
    <button class="col-4 col-md-2 btn btn-primary">Ejecutar Comandos</button>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th class="th-normal text-white">Servidor</th>
          <th class="th-normal text-white">Comando</th>
          <th class="th-normal text-white">Resultado</th>
        </tr>
      </thead>
    </table>
    <br><br><br><br>
  </section>


</div>