<div class="row">
  <div class="col  d-flex justify-content-between">
    <h6>Dashboard</h6> 
    <span *ngIf="loading">
      <i  class="fas fa-spinner fa-spin"></i>
      Cargando
    </span>
    <button role="button" (click)="openConn()" class="btn btn-primary btn-sm"><i role="img" class="fas fa-repeat"></i> Recargar</button>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-4 mt-1">
    <div class="card p-1 h300">
      <div class="card-body">
        <h5 class="card-title">Datos generales</h5>
        <small><i>Permite comprobar la salud de los protocolos de comunicación y el tiempo de actividad del servidor.</i></small>
        <br>
        <br>
        <div class="card-text t12">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
              <span>Nombre servidor</span><span>{{work.nombre}}</span>
            </li>
              <li class="list-group-item d-flex justify-content-between">
              <span>Host</span><span>{{work.host}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Tiempo activo </span> 
              <div class="d-flex align-items-center">
                <i role="img" class="far fa-clock t20 mr-2" title="Formato: dd:hh:mm:ss"></i>
                <span >{{lstDatos.uptime}}</span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span class="sentinel">
                {{global.agent}} <br>
                <i>puerto <small>{{work.agente_puerto}}</small></i>

              </span>
              <div class="d-flex align-items-center">
                <!-- @if(lstDatos){
                  @if(lstDatos.agente_status == "Conectado"){
                    <i role="img" class="far fa-check-circle text-success t20"></i>
                  }@else if(lstDatos.agente_status == "Desconectado"){
                    <i role="img" class="fas fa-times-circle text-danger t20"></i>
                  }@else if(lstDatos.agente_status == ""){
                  }
                } -->
                <span class="ml-2 {{lstDatos.agente_status == 'Conectado' ? 'text-success' : 'text-danger'}}">{{lstDatos.agente_status}}</span>
              </div>
            </li>
            <!-- <li class="list-group-item d-flex justify-content-between">
              <span>Acceso por SSH</span><i role="img" class="fa fa-minus"></i>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-4 mt-1">
    <div class="card p-1 h300">
      <div class="card-body">
        <h5 class="card-title">Uso de Recursos</h5>
        <small><i>Son los valores de uso de los recursos del servidor</i></small>
        <br>
        <br>
        <div class="card-text t12">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="d-flex justify-content-between">
                <span>Disco</span>
                <span>{{lstDatos.disco.porcentaje}}</span>
                <span
                  >{{lstDatos.disco.usado}} / {{lstDatos.disco.total}}
                </span>
              </span>
              <div>
                <div
                  class="progress"
                  role="progressbar"
                  aria-label="Example with label"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  <div
                    class="progress-bar"
                    style="width: {{lstDatos.disco.porcentaje}}"
                  ></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <span class="d-flex justify-content-between">
                <span>Memoria</span>
                <span>{{lstDatos.memoria.porcentaje}}%</span>
                <span
                  >{{lstDatos.memoria.usado}} / {{lstDatos.memoria.total}}</span
                >
              </span>
              <div>
                <div
                  class="progress"
                  role="progressbar"
                  aria-label="Example with label"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  <div
                    class="progress-bar"
                    style="width: {{lstDatos.memoria.porcentaje}}%"
                  ></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <span class="d-flex justify-content-between">
                <span>CPU</span>
                <span>{{lstDatos.cpu.porcentaje}}%</span>
                <span
                  >{{lstDatos.cpu.t1}}<sup class="text-danger">1m</sup>
                  {{lstDatos.cpu.t5}}<sup class="text-danger">5m</sup>
                  {{lstDatos.cpu.t15}}<sup class="text-danger">15m</sup></span
                >
              </span>
              <div>
                <div
                  class="progress"
                  role="progressbar"
                  aria-label="Example with label"
                  aria-valuenow="0"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  <div
                    class="progress-bar"
                    style="width: {{lstDatos.cpu.porcentaje}}%"
                  >
                    {{lstDatos.cpu.porcentaje}}%
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-4 mt-1">
    <div class="card p-1 h300">
      <div class="card-body ">
        <h5 class="card-title d-flex justify-content-between">
          Servicios
          <button role="button" (click)="go('servicios')" class="btn btn-link btn-sm" title="Configuracion"><i role="img" class="{{icono.settings}}"></i></button>
        </h5>
        <small
          ><i
            >Despliega los servicios que se encuentran dentro del servidor</i
          ></small
        >
        <div class="card-text t12">
          <ul class="list-group">
            @for (item of lstDatos.servicios; track $index) {
            <li class="list-group-item d-flex justify-content-between">
              <span>{{item[0]}}</span>
              <span>
                <span>{{item[1]}}</span> / 
                <span class="{{item[2]=='active' ? 'text-success bold':'text-danger'}}">{{item[2]}}</span> / 
                <span class="{{item[3]=='running' ? 'text-success bold':'text-danger'}}">{{item[3]}}</span>
              </span>
            </li>
            }
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-4 mt-1">
    <div class="col mt-1">
      <div class="card p-1 h300">
        <div class="card-body">
          <h5 class="card-title">Datos del Servidor</h5>
          <small
            ><i
              >Permite comprobar la salud de los protocolos de comunicación
              delservidor</i
            ></small
          >
          <div class="card-text t12">
            <ul class="list-group">
              @for (item of lstDatos.release; track $index) {
              <li class="list-group-item d-flex justify-content-between">
                <span>{{item[0]}}</span>
                <span>{{item[1]}}</span>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-12 col-xs-6 col-sm-6 col-md-4 col-lg-4 mt-1">
    <div class="col mt-1">
      <div class="card p-1 h300">
        <div class="card-body">
          <h5 class="card-title">Datos del CPU</h5>
          <small><i>Información pertienete al cpu como el procesados, familia, entre otros.</i></small>
          <div class="card-text t12">
            <ul class="list-group">
              @for (item of lstDatos.infocpu; track $index) {
              <li class="list-group-item d-flex justify-content-between">
                <span>{{item[0]}}</span>
                <span>{{item[1]}}</span>
              </li>
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
