<a id="fin"></a>
  <div class="row mb-2">
    <div class="col d-flex justify-content-between">
      <div class="btn-group" role="group" aria-label="Seleccion script o comando">
        <button (click)="cambiarTab(2)" role="button" type="button" class="btn btn-sm {{tab==2 ? 'btn-primary' : 'btn-outline-secondary'}}">Scripts</button>
        <button (click)="cambiarTab(1)" role="button" type="button" class="btn btn-sm {{tab==1 ? 'btn-primary' : 'btn-outline-secondary'}}">Comandos</button>
        <!-- <button (click)="cambiarTab(0)" role="button" type="button" class="btn btn-sm {{tab==0 ? 'btn-primary' : 'btn-outline-secondary'}}">Historico</button> -->
      </div>
      <div>

      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 bg-light h600">
      @if (tab==0) {
        <label for="buscarHistorico"><i>Histórico de Comandos</i></label>
        <input type="text" 
          [(ngModel)]="oBuscarHistorico" 
          (keyup)="buscarHistorico($event)" 
          id="buscarHistorico" name="buscarHistorico" 
          autocomplete="false"
          class="form-control" placeholder="Texto a buscar">
        <ul class="list-group h400 mt-1">
          @for (item of this.lstHistoryCmds; track $index) {
            <li class="list-group-item d-flex justify-content-between">
              <span>{{item}}</span>
              <button (click)="copia(item)" type="button" role="btn" class="btn btn-white btn-sm" 
                aria-label="Copiar comando a terminal" title="Copiar comando a terminal">
                  <i role="img" class="far fa-clone"></i>
              </button>
            </li>
          }
        </ul>
      }

      @if (tab==2) {
        <label for="buscarScript"><i>Lista de Scripts</i></label>
        <input type="text" [(ngModel)]="oBuscarScripts" (keyup)="buscarScripts($event)"  id="buscarScript" name="buscarScript" class="form-control" placeholder="Texto a buscar">
        <ul class="list-group h400 mt-1">
          @for (item of this.lstScripts; track $index) {
            <li class="list-group-item d-flex justify-content-between">
              <span>{{item.nombre}}</span>
              <button (click)="insertarScript(item.idscript)" type="button" role="btn" class="btn btn-white btn-sm" 
                aria-label="Insertar script a terminal" title="Insertar script a terminal">
                  <i class="fa fa-plus"></i>
              </button>
            </li>
          }
        </ul>
      }

      @if (tab==1) {
        <label for="buscarComandos"><i>Lista de Comandos</i></label>
        <input type="text" [(ngModel)]="oBuscarComandos" (keyup)="buscarComandos($event)"  id="buscarComandos" name="buscarComandos" class="form-control" placeholder="Texto a buscar">
        <ul class="list-group h400 mt-1">
          @for (item of this.lstComandos; track $index) {
            <li class="list-group-item d-flexxx justify-content-betweenxx mt-2">
              <span>{{item.linea_comando}}</span>
              <br>
              <button (click)="insertar(item.linea_comando)" type="button" role="btn" class="btn btn-outline-primary btn-sm" 
                aria-label="Insertar comando a terminal" title="Insertar comando a terminal">
                  <i class="fa fa-plus"></i> Añadir
              </button>
            </li>
          }
        </ul>
      }

    </div>

    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 bg-light h600 linea-izquierda linea-derecha ">
      <div class="row">
        <div class="col-12  d-flex justify-content-between">
          <label for="cmdTexto"><i>Comandos a procesar</i></label>
          <button [disabled]="lstPendientes.length==0" (click)="enviarComandos()" type="button" role="btn" class="btn btn-primary btn-sm" 
            aria-label="Procesar Comandos" title="Procesar Comandos">
            <i class="fas fa-location-arrow"></i> Enviar
          </button>
          <input type="text" [(ngModel)]="cmdTexto" (keyup)="insertarComando($event)"  id="cmdTexto" name="cmdTexto" class="form-control" placeholder="Insertar Comando">
        </div>
        <div class="col-12">
          <ul class="list-group h500 mt-1">
            @for (item of this.lstPendientes; track $index) {
              <li class="list-group-item d-flexXX justify-content-betweenXX bg-opciones-fondo2 mt-2">
                <div class="d-flex align-items-end flex-column mr-2">
                  <button (click)="subir($index)" type="button" role="btn" class="btn btn-white btn-sm" 
                    aria-label="Subir una posición" title="Subir una posición">
                    <i class="fas fa-angle-up"></i>
                  </button>
                  <button (click)="bajar($index)" type="button" role="btn" class="btn btn-white btn-sm mt-auto" 
                    aria-label="Bajar una posición" title="Bajar una posición">
                    <i class="fas fa-angle-down "></i>
                  </button>
                </div>

                <div >
                  <span>{{item}} </span>
                  <br>
                  <button (click)="elimina($index)" type="button" role="btn" class="btn btn-outline-danger btn-sm ml-1" 
                    aria-label="Copiar comando a terminal" title="Copiar comando a terminal">
                    <i role="img" class="far fa-trash-alt"></i> Eliminar
                  </button>
                </div>

              </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div id="terminal"class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 bg-light h600">
      <label for="buscarHistorico"><i>Historico Comandos procesados</i></label>
      <div #divterminal class="terminal">
        @for (item of lstHistory; track $index) {
          <div class="terminal__line {{item.clase}}">{{item.texto}}</div>
        }
      </div>
    </div>
  </div>