<app-path [lstRutas]="path" />
<div class="content">
  <app-titulo [lstHeader]="titulo" />

  <div class="row barra-menu">
    <div class="col d-flex justify-content-between mb-2">
      <div class="">
        @if(revisando!=""){
          Monitoreando {{revisando}}
        } @else{
          @if(this.continuar){
            <small><i>
              Próximo monitoreo en {{tiempo_restante}} segundos
            </i></small>
          }
        }
      </div>
      <div class="btn-group mr-1" role="group" aria-label="Basic example">
        <!-- <button role="button" [disabled]="monitoreo_esta_activo"  class="btn btn-primary btn-sm" (click)="startMonitor()"  title="Iniciar Monitoreo"><i role="img" class="fas fa-play"></i></button>
        <button role="button" [disabled]="!monitoreo_esta_activo" class="btn btn-primary btn-sm" (click)="stopMonitor()"  title="Detener Monitoreo"><i role="img" class="fas fa-stop"></i></button> -->
        <!-- <button role="button" [disabled]="monitoreo_esta_activo"  class="btn btn-primary btn-sm" (click)="sendMonitor()"  title="Monitorear una vez"><i role="img" class="far fa-play-circle"></i> Una vez</button> -->

        <div class="btn-group" role="group">
          <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bars"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="exportarPDF()"><i class="far fa-file-pdf"></i> Exportar PDF</a></li>
            <li><a class="dropdown-item" href="javascript:void(0)" (click)="exportarCSV()"><i class="far fa-file-excel"></i> Exportar CSV</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <!-- <li><a class="dropdown-item" href="javascript:void(0)" (click)="getData()"><i role="img" class="fas fa-sync-alt"></i> Refrescar Datos</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div #myGrid id="myGrid" class="ag-theme-quartz" style="height: {{alto}}px; min-height: {{alto}}px"></div>
</div>


<button #btnModal role="button" class="dropdown-toggle hide" data-bs-toggle="modal" data-bs-target="#ventanaModal"></button> 
<div #modal class="modal modal-xl" id="ventanaModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información Servidor {{server_select && server_select.nombre}}</h5>
        <button role="button" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body h400 ">
        @if(server_select){
          <table class="table">
            <thead>
              <tr>
                <td class="th-normal text-white">Host</td>
                <td class="th-normal text-white">Disco %</td>
                <td class="th-normal text-white">CPU %</td>
                <td class="th-normal text-white">RAM %</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{server_select.host}}</td>
                <td>{{server_select.disco}}</td>
                <td>{{server_select.cpu_usado}}</td>
                <td>{{server_select.memoria}}</td>
              </tr>
            </tbody>
          </table>
          
          <br>
          <h5>CPU Info</h5>

          <ul class="list-group list-group-flush" >
             @for (item of server_select.cpuinfo; track $index) {
              <li class="list-group-item mt-1">{{item}}</li>
             }
          </ul>
          <br>
          
          <h5>Características</h5>

          <ul class="list-group list-group-flush" >
             @for (item of server_select.release; track $index) {
              <li class="list-group-item mt-1">{{item}}</li>
             }
          </ul>
        }
        <!-- <textarea class="form-control" rows="20" name="xx" id="xx">{{server_select && server_select.release}}</textarea> -->
      </div>
      <div class="modal-footer">
        <button role="button" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>