
.bread{
    color: var(--breadcrum-letra) !important;
    background-color: var(--breadcrum-fondo);
    width: 100%;
    font-size: 14px;
    padding-left: 20px;
    border-bottom: 1px solid var(--breadcrum-borde);
}

.bread-item{
    font-size: 10px;
    color: var(--breadcrum-letra) !important;
    text-decoration: none !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}
.bread-item2{
    font-size: 10px;
    color: var(--breadcrum-letra) !important;
    text-decoration: none !important;
    margin-right: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width:360px){
    .bread-item, .bread-item2{
        font-size: 8px;
        letter-spacing: 1px;
    }
}