.share-cabecera {
    .share-cabecera-icono {
        font-size: 25px;
        color: #797979 !important;
        // border: 2px solid #dadada;
        // padding: 5px;
    }
    span{
        font-size: 30px;
        color: rgb(82, 82, 82);
    }
}
