<div class="row">
  <div class="col  d-flex justify-content-between align-items-center">
    <h5>{{Title}}</h5>
    <div class="d-flex justify-content-between align-items-center">
      <span class="mr-2 sentinel">{{global.agent}}</span>
      <div class="d-flex align-items-center">
      <span class="ml-2 {{agente_status == 'Conectado' ? 'text-success bold' : 'text-danger bold'}}">{{agente_status}}</span>
      </div>
    </div>
    <div class="btn-group mr-1" role="group" aria-label="Basic example">
      <button role="button" [disabled]="playMonitor"  class="btn btn-primary " (click)="openWS()"  title="Iniciar Monitoreo"><i role="img" class="fas fa-play"></i> </button>
      <button role="button" [disabled]="!playMonitor" class="btn btn-primary " (click)="stopMonitor()"  title="Detener Monitoreo"><i role="img" class="fas fa-stop"></i> </button>
      <!-- <button role="button" [disabled]="playMonitor"  class="btn btn-primary btn-sm" (click)="sendMonitor()"  title="Monitorear una vez"><i role="img" class="far fa-play-circle"></i> Una vez</button> -->
    </div>
  </div>
</div>

<section class="row mt-5">
  <h5>Interfaces</h5>
  <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 content-stats">
     @for (item of lstInterfaces; track $index) {
       <div class="stats" style="width:50%;">
           <span class="icono icono-rojo">
               <i class="fas fa-ethernet"></i>
           </span>
           <span class="seccion">{{item[2]}}</span>
           <span class="valor valor-rojo">{{item[8]}}</span>
           <span class="avg">
              Red: {{item[0]}} <br>
              {{item[4]}} {{item[6]}} 
           </span>
       </div>
     }
    <!-- <table class="table table-striped">
      <thead>
        <tr>
          <th class="th-normal text-white">Red</th>
          <th class="th-normal text-white">Interface</th>
          <th class="th-normal text-white">Protocolo</th>
          <th class="th-normal text-white">Alcance</th>
          <th class="th-normal text-white">IP v4</th>
        </tr>
      </thead>
      <tbody>
        @for (item of lstInterfaces; track $index) {
          <tr>
            <td>{{item[0]}}</td>
            <td>{{item[2]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[6]}}</td>
            <td>{{item[8]}}</td>
          </tr>
        }
      </tbody>
    </table> -->
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <canvas
      baseChart
      width="1200"
      height="600"
      [type]="'line'"
      [data]="rxChartData"
      [options]="rxChartOptions"
      [legend]="chartLegend"
    >
    </canvas>
  </div>
  <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <canvas
      baseChart
      width="1200"
      height="600"
      [type]="'line'"
      [data]="txChartData"
      [options]="txChartOptions"
      [legend]="chartLegend"
    >
    </canvas>
  </div>
</section>

<section class="row  mt-5">
  <h5>Firewall</h5>
  <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <ul class="list-group">
      @for (item of lstNotificaciones; track $index) {
        <li class="list-group-item d-flex text-align-center">
          @switch (item.tipo) {
            @case ("FATAL") {
              <i class="fas fa-info t16 bold text-white bg-danger redondo pl-3 pr-3 pt-2 pb-2 mr-2"></i> 
            }
            @case ("DEBUG") {
              <i class="fas fa-info t16 bold text-white bg-success redondo pl-3 pr-3 pt-2 pb-2 mr-2"></i> 
            }
          }
          {{item.descripcion}}
        </li>
      }
    </ul>
  </div>
</section>
