:root{
    /* Grid */
    // --color-datagrid-bg-header: #9fdee2;
    --color-datagrid-bg-header: #9fcde2;
    --color-datagrid-bg-header-hover: #ffffff9d;
    --color-datagrid-bg-header-bg-hover: #ffffff1a;
    --color-datagrid-header-font-color: #ffffff;
    --color-datagrid-row-impar: #d1d1d1;
    --color-datagrid-row-impar-border: #f5f5f5;
    --color-datagrid-font-color: rgb(0, 0, 0);
}


/* MIOS **/
.t10{font-size: 10px;}
.t11{font-size: 11px;}
.t12{font-size: 12px;}
.t14{font-size: 14px;}
.t16{font-size: 16px;}
.t18{font-size: 18px;}
.t20{font-size: 20px;}
.t22{font-size: 22px;}
.t24{font-size: 24px;}
.t26{font-size: 26px;}
.t28{font-size: 28px;}
.t30{font-size: 30px;}
.t35{font-size: 35px;}
.t40{font-size: 40px;}
.t45{font-size: 45px;}
.t50{font-size: 50px;}
.t55{font-size: 55px;}
.t60{font-size: 60px;}
.t65{font-size: 65px;}
.t70{font-size: 70px;}
.t75{font-size: 75px;}
.t80{font-size: 80px;}
.t85{font-size: 85px;}
.t90{font-size: 90px;}
.t95{font-size: 95px;}
.t100{font-size: 100px;}

.ml-1{ margin-left: 4px;}
.ml-2{ margin-left: 8px;}
.ml-3{ margin-left: 12px;}
.ml-4{ margin-left: 16px;}
.ml-5{ margin-left: 32px;}

.mr-1{ margin-right: 4px;}
.mr-2{ margin-right: 8px;}
.mr-3{ margin-right: 12px;}
.mr-4{ margin-right: 16px;}
.mr-5{ margin-right: 32px;}

.mt-1{ margin-top: 4px !important; }
.mt-2{ margin-top: 8px !important; }
.mt-3{ margin-top: 12px !important;}
.mt-4{ margin-top: 16px !important;}
.mt-5{ margin-top: 32px !important;}

.mb-1{ margin-bottom: 4px !important; }
.mb-2{ margin-bottom: 8px !important; }
.mb-3{ margin-bottom: 12px !important;}
.mb-4{ margin-bottom: 16px !important;}
.mb-5{ margin-bottom: 32px !important;}

.pl-1{ padding-left: 4px !important;}
.pl-2{ padding-left: 8px !important;}
.pl-3{ padding-left: 12px !important;}
.pl-4{ padding-left: 16px !important;}
.pl-5{ padding-left: 32px !important;}

.pr-1{ padding-right: 4px !important;}
.pr-2{ padding-right: 8px !important;}
.pr-3{ padding-right: 12px !important;}
.pr-4{ padding-right: 16px !important;}
.pr-5{ padding-right: 32px !important;}

.pt-1{ padding-top: 4px !important;}
.pt-2{ padding-top: 8px !important;}
.pt-3{ padding-top: 12px !important;}
.pt-4{ padding-top: 16px !important;}
.pt-5{ padding-top: 32px !important;}

.pb-1{ padding-bottom: 4px !important;}
.pb-2{ padding-bottom: 8px !important;}
.pb-3{ padding-bottom: 12px !important;}
.pb-4{ padding-bottom: 16px !important;}
.pb-5{ padding-bottom: 32px !important;}

.h10{ height: 10px !important;}
.h20{ height: 20px !important;}
.h30{ height: 30px !important;}
.h40{ height: 40px !important;}
.h50{ height: 50px !important;}
.h60{ height: 60px !important;}
.h70{ height: 70px !important;}
.h75{ height: 75px !important;}
.h80{ height: 80px !important;}


.bg-opciones-fondo{
    display: flex;
    background-color: #e0e0e0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 5px;
    border-radius: 5px;
    color: #474747;
}

.col1{
    flex-grow: 1;
}
.col2{
    flex-grow: 9;
}


.bg-barra{
    background-color: #ffffff;
    color: #000;
    border-bottom: 1px solid #b4b4b4;
    height: 50px !important;
    // box-shadow: -3px -15px 30px 6px rgba(0,0,0,0.18) inset;
    // -webkit-box-shadow: -3px -15px 30px 6px rgba(0,0,0,0.18) inset;
    // -moz-box-shadow: -3px -15px 30px 6px rgba(0,0,0,0.18) inset;
}

.body-content{
    position: relative;
    height: calc(100vh - 50px);
    top: 50px;
    background-color: #f5f5f5 !important;
}

.content{
    // position: relative;
    // top: 10px;
    // padding: 10px;
    // margin: 10px;
    // background-color: #ffffff !important;
    // // border: 5px double #c6d7e2 ;
    // border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    // border-bottom-left-radius: 20px;
    // border-bottom-right-radius: 20px;
    // min-height: 500px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.contenido{
    margin-top: 10px;
    background-color: #ffffffde;
    border: 2px solid #e0e0e0;
    min-height: 400px;
    color: #000;
    border-radius: 10px;
    padding: 10px;
}

.titulo{
    background-color: #bcd4df46;
    color: #000;
    // border: 2px solid #f5f5f5;
    // border: 2px solid #f5f5f5;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: 600;
    align-content: center;
    min-height: 55px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

.th{
    background-color: #7eb9d448;
    // border: 2px solid #f5f5f5;
    border: 2px solid #fff;
    border-radius: 5px;
    align-content: center;
    //min-height: 45px;
}

.td{
    // background-color: #e4e4e4; 
    // border: 2px solid #f5f5f5;
    border: 2px solid #fff;
    border-radius: 5px;
    align-content: center;
    // border-radius: 10px;
    //min-height: 45px;
}

.border0 { border: 0;}



.text-white{
    color: #fff !important;
}


.iconomenu{
    min-width: 25px !important;
    color: #790b0b;
}

ul.menu{
    list-style-type: none;
    padding: 0;
    
    .submenu {
        margin-top: 5px;
        color: #666666 !important;
        font-size: 12px;
        font-weight: 700;
        border-bottom: 2px solid #cecece;
        text-transform: uppercase;
    }
    .item-group{
        margin-top: 5px;
        // background-color: #ebebeb;
        list-style-type: none;
        padding: 0;
    }
    button{
        width: 100%;
        text-align: start;
        font-size: 14px;
    }
    .item:hover {
        background-color: #a1492038;
        color: #000 !important;
        border-radius: 5px;
        font-weight: 600;
    }
    .item:active {
        background-color: #206da138;
        color: #fff !important;
        border-radius: 5px;
        font-weight: 600;
    }
}


.barra-menu{
    background-color: #dbdbdb;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    margin-bottom: 5px;
}


@media (max-width:400px){
    .bg-barra{
        background-color: #ffffff;
    }
}

