:root{
    /* Grid */
    // --color-datagrid-bg-header: #9fdee2;
    --color-datagrid-bg-header: #9fcde2;
    --color-datagrid-bg-header-hover: #ffffff9d;
    --color-datagrid-bg-header-bg-hover: #ffffff1a;
    --color-datagrid-header-font-color: #ffffff;
    --color-datagrid-row-impar: #d1d1d1;
    --color-datagrid-row-impar-border: #f5f5f5;
    --color-datagrid-font-color: rgb(0, 0, 0);
    --color-hover: #d6970e15;

    --barra-principal-fondo: #ffffff;
    --barra-principal-letra: #000000;
    --barra-principal-borde: #e0e0e0;

    --contenido-pagina-fondo: #f9f9f9;
    
    --breadcrum-fondo : transparent;
    --breadcrum-letra: #125d74;
    --breadcrum-borde: transparent;

    --titulo-fondo: transparent;
    --titulo-letra: #464646;
    --titulo-borde: transparent;
    --titulo-size: 30px;

    --barra-menu-fondo: transparent;
    --barra-menu-borde: #fff;

}


/* MIOS **/
.t10{font-size: 10px;}
.t11{font-size: 11px;}
.t12{font-size: 12px;}
.t14{font-size: 14px;}
.t16{font-size: 16px;}
.t18{font-size: 18px;}
.t20{font-size: 20px;}
.t22{font-size: 22px;}
.t24{font-size: 24px;}
.t26{font-size: 26px;}
.t28{font-size: 28px;}
.t30{font-size: 30px;}
.t35{font-size: 35px;}
.t40{font-size: 40px;}
.t45{font-size: 45px;}
.t50{font-size: 50px;}
.t55{font-size: 55px;}
.t60{font-size: 60px;}
.t65{font-size: 65px;}
.t70{font-size: 70px;}
.t75{font-size: 75px;}
.t80{font-size: 80px;}
.t85{font-size: 85px;}
.t90{font-size: 90px;}
.t95{font-size: 95px;}
.t100{font-size: 100px;}

.ml-1{ margin-left: 4px;}
.ml-2{ margin-left: 8px;}
.ml-3{ margin-left: 12px;}
.ml-4{ margin-left: 16px;}
.ml-5{ margin-left: 32px;}

.mr-1{ margin-right: 4px;}
.mr-2{ margin-right: 8px;}
.mr-3{ margin-right: 12px;}
.mr-4{ margin-right: 16px;}
.mr-5{ margin-right: 32px;}

.mt-1{ margin-top: 4px !important; }
.mt-2{ margin-top: 8px !important; }
.mt-3{ margin-top: 12px !important;}
.mt-4{ margin-top: 16px !important;}
.mt-5{ margin-top: 32px !important;}

.mb-1{ margin-bottom: 4px !important; }
.mb-2{ margin-bottom: 8px !important; }
.mb-3{ margin-bottom: 12px !important;}
.mb-4{ margin-bottom: 16px !important;}
.mb-5{ margin-bottom: 32px !important;}

.p-1{ padding: 4px !important;}
.p-2{ padding: 8px !important;}
.p-3{ padding: 12px !important;}
.p-4{ padding: 16px !important;}
.p-5{ padding: 32px !important;}

.pl-2{ padding-left: 8px !important;}
.pl-3{ padding-left: 12px !important;}
.pl-4{ padding-left: 16px !important;}
.pl-5{ padding-left: 32px !important;}

.pr-1{ padding-right: 4px !important;}
.pr-2{ padding-right: 8px !important;}
.pr-3{ padding-right: 12px !important;}
.pr-4{ padding-right: 16px !important;}
.pr-5{ padding-right: 32px !important;}

.pt-1{ padding-top: 4px !important;}
.pt-2{ padding-top: 8px !important;}
.pt-3{ padding-top: 12px !important;}
.pt-4{ padding-top: 16px !important;}
.pt-5{ padding-top: 32px !important;}

.pb-1{ padding-bottom: 4px !important;}
.pb-2{ padding-bottom: 8px !important;}
.pb-3{ padding-bottom: 12px !important;}
.pb-4{ padding-bottom: 16px !important;}
.pb-5{ padding-bottom: 32px !important;}

.h10{ height: 10px !important;}
.h20{ height: 20px !important;}
.h30{ height: 30px !important;}
.h40{ height: 40px !important;}
.h50{ height: 50px !important;}
.h60{ height: 60px !important;}
.h70{ height: 70px !important;}
.h75{ height: 75px !important;}
.h80{ height: 80px !important;}


.bg-opciones-fondo{
    display: flex;
    background-color: #e0e0e0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 5px;
    border-radius: 5px;
    color: #474747;
}

.bg-opciones-fondo2{
    display: flex;
    background-color: #eeeeee;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 5px;
    border-radius: 5px;
    color: #474747;
}

.col1{
    flex-grow: 1;
}
.col2{
    flex-grow: 9;
}


.bg-barra{
    background-color: var(--barra-principal-fondo);
    color: var(--barra-principal-letra);
    border-bottom: 1px solid var(--barra-principal-borde);
    height: 50px !important;
    // box-shadow: -3px -15px 30px 6px rgba(0,0,0,0.18) inset;
    // -webkit-box-shadow: -3px -15px 30px 6px rgba(0,0,0,0.18) inset;
    // -moz-box-shadow: -3px -15px 30px 6px rgba(0,0,0,0.18) inset;
}

.body-content{
    position: relative;
    min-height: calc(100vh - 50px);
    top: 50px;
    background-color: var(--contenido-pagina-fondo) !important;
}

.content{
    background-color: var(--contenido-pagina-fondo);
    padding-left: 20px;
    padding-right: 20px;
}

.contenido{
    margin-top: 10px;
    background-color: #ffffffde;
    border: 2px solid #e0e0e0;
    min-height: 400px;
    color: #000;
    border-radius: 10px;
    padding: 10px;
}

.titulo{
    background-color: #bcd4df46;
    color: #000;
    // border: 2px solid #f5f5f5;
    // border: 2px solid #f5f5f5;
    border: 2px solid #fff;
    border-radius: 5px;
    font-weight: 600;
    align-content: center;
    min-height: 55px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
}

.th{
    background-color: #7eb9d448;
    // border: 2px solid #f5f5f5;
    border: 2px solid #fff;
    border-radius: 5px;
    align-content: center;
    //min-height: 45px;
}

.th2{
    background-color: #7eb9d448;
    align-content: center;
}

.td{
    // background-color: #e4e4e4; 
    // border: 2px solid #f5f5f5;
    border: 2px solid #fff;
    border-radius: 5px;
    align-content: center;
    // border-radius: 10px;
    //min-height: 45px;
}

.td2{
    align-content: center;
}

.border0 { border: 0;}



.text-white{
    color: #fff !important;
}


.iconomenu{
    min-width: 25px !important;
    color: #790b0b;
}

ul.lista{
    list-style-type: none;
}

ul.menu{
    list-style-type: none;
    padding: 0;
    
    .submenu {
        margin-top: 5px;
        color: #666666 !important;
        font-size: 12px;
        font-weight: 700;
        border-bottom: 2px solid #cecece;
        text-transform: uppercase;
    }
    .item-group{
        margin-top: 5px;
        // background-color: #ebebeb;
        list-style-type: none;
        padding: 0;
    }
    button{
        width: 100%;
        text-align: start;
        font-size: 14px;
    }
    .item:hover {
        background-color: #a1492038;
        color: #000 !important;
        border-radius: 5px;
        font-weight: 600;
    }
    .item:active {
        background-color: #206da138;
        color: #fff !important;
        border-radius: 5px;
        font-weight: 600;
    }
}


.barra-menu{
    background-color: var(--barra-menu-fondo);
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid var(--barra-menu-borde);
    border-bottom: 1px solid var(--barra-menu-borde);
    margin-bottom: 5px;
    // box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.07);
    // -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.07);
    // -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.07);
}


@media (max-width:400px){
    .bg-barra{
        background-color: #ffffff;
    }
}

.info{
    text-decoration: underline;
    cursor: pointer;
    color: #da3908;
}

.input-danger{
    border: 2px solid #ff0000;
}

.scrolly{ overflow-y: scroll !important; overflow-x: hidden;}
.scrollx{ overflow-x: scroll !important; overflow-y: hidden; }

.h100 {height: 100px !important; overflow-y: visible !important; overflow-x: hidden;}
.h150 {height: 150px !important; overflow-y: visible !important; overflow-x: hidden;}
.h200 {height: 200px !important; overflow-y: visible !important; overflow-x: hidden;}
.h300 {height: 300px !important; overflow-y: visible !important; overflow-x: hidden;}
.h350 {height: 350px !important; overflow-y: visible !important; overflow-x: hidden;}
.h400 {height: 400px !important; overflow-y: visible !important; overflow-x: hidden;}
.h500 {height: 500px !important; overflow-y: visible !important; overflow-x: hidden;}
.h600 {height: 600px !important; overflow-y: visible !important; overflow-x: hidden;}

.bold { font-weight: 600;}

.link{
    border-bottom: 1px dashed SteelBlue;
    cursor: pointer;
    color: SteelBlue;
}
.cursor{
    cursor: pointer;
}

.border-right{
    border-right: 1px solid #c4c4c4;
    background-color: #69f5cb3a;
    color: #14664d;
}

.bg-white{ background-color: #fff !important;}

.th-center{
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
    vertical-align: middle !important;
    align-content: center !important;
}
.th-normal{
    background-color:SteelBlue  !important;
    color: #fff;
}
.th-normal2{
    background-color:#6ba5d4  !important;
    color: #fff;
}
.th-normal3{
    background-color:#fff  !important;
    color: #000;
}
.th-normal4{
    background-color:#f3f2f2  !important;
    color: #000;
}
.th-grupo3{
    background-color:CadetBlue  !important;
    color: #fff;
}
.th-grupo2{
    background-color:DarkCyan  !important;
    color: #fff;
}
.th-grupo1{
    background-color:rgba(70, 131, 180, 0.733)  !important;
    color: #fff;
}

.w-menu{
    height: 85vh;
    background-color: #ffffff;
    padding: 10px;
    overflow-y: scroll;
}

.sentinel{
    font-weight: 400;
    font-style: italic;
}

.btn-link{
    text-decoration: none;
}

.hover:hover{
    background-color: #3103031c;
}

.especial-color{
    background-color: #eff4f5;
}


.content-stats{
    display: flex;
    // background-color: #0b792c;
    // text-align: center;
    // align-content: center;
    justify-content: center;
    height: 200px;

    .stats:hover{
        background-color: var(--color-hover);
    }
    .stats{
        // width: 33% ;
        display: flex;
        flex-direction: column;
        background-color: #ffffffde;
        
        border: 1px solid #dadada;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.07);
        -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.07);
        -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.07);
        // -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.11);
        // -moz-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.11);
        // text-align: center;
        // align-content: center;
        // justify-content: center;
    
        .icono{
            width:40px;
            height: 40px;
            display: absolute;
            font-size: 20px;
            align-content: center;
            text-align: center;
            border-radius: 5px;
        }
    
        .icono-rojo{
            background-color: #790b0b42;
            color: #790b0b;
        }
        .icono-morado{
            background-color: #3b0b7942;
            color: #3b0b79;
        }
        .icono-verde{
            background-color: #0b792c42;
            color: #0b792c;
        }
    
        .seccion{
            font-weight: 600;
            font-size: 14px;
            margin-top: 15px;
        }
    
        .valor{
            font-weight: 400;
            font-size: 30px;
            
        }
    
        .valor-rojo{ color: #790b0b; }
        .valor-morado{ color: #3b0b79; }
        .valor-verde{ color: #0b792c; }
    
        .avg{
            font-weight: 400;
            font-size: 12px;
            color: #868686;
        }
    
        .progress{
            height: 5px;
        }
    
        .pbar-rojo{ background-color: #790b0b; }
        .pbar-morado{ background-color: #3b0b79; }
        .pbar-verder{ background-color: #0b792c; }
    
    
    }
}


.linea-izquierda{
    border-left: 1px solid #00000033;
}
.linea-derecha{
    border-right: 1px solid #00000033;
}


.linea-arriba{
    border-top: 1px solid #00000033;
}
.linea-abajo{
    border-bottom: 1px solid #00000033;
}

.text-green{
    color: #73f806;
}
.text-yellow{
    color: #f8e806;
}

.striped-rows tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.bg-light-danger{
    background-color: #f7aeab;
}
.bg-light-success{
    background-color: #e3f7ab;
}
.bg-light-warning{
    background-color: #f7dcab;
}
.bg-light-primary{
    background-color: #abd5f7;
}

@keyframes rellenar {
    0%{ stroke-dasharray: var(--porcentaje) 628.32;}
} 

.porcentajes{
    position: relative;

    circle {
        fill: transparent;
        stroke: #d6d6d6;
        stroke-width: 10;
        transform: rotate(-180deg);
        transform-origin: 50% 50%;
    }
    circle:nth-child(2) {
        stroke: var(--color);
        stroke-dasharray: calc((var(--porcentaje)/100) * 628.32 ) 928.32;
        animation: rellenar 1s ease-out forwards;
    }

    span{
        position: absolute;
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }
 
}


.hide{
    display: none;
}