/* MIOS **/
.t10{font-size: 10px;}
.t11{font-size: 11px;}
.t12{font-size: 12px;}
.t14{font-size: 14px;}
.t16{font-size: 16px;}
.t18{font-size: 18px;}
.t20{font-size: 20px;}
.t22{font-size: 22px;}
.t24{font-size: 24px;}
.t26{font-size: 26px;}
.t28{font-size: 28px;}
.t30{font-size: 30px;}
.t35{font-size: 35px;}
.t40{font-size: 40px;}
.t45{font-size: 45px;}
.t50{font-size: 50px;}
.t55{font-size: 55px;}
.t60{font-size: 60px;}
.t65{font-size: 65px;}
.t70{font-size: 70px;}
.t75{font-size: 75px;}
.t80{font-size: 80px;}
.t85{font-size: 85px;}
.t90{font-size: 90px;}
.t95{font-size: 95px;}
.t100{font-size: 100px;}

.mr-1{ margin-right: 4px;}
.mr-2{ margin-right: 8px;}
.mr-3{ margin-right: 12px;}
.mr-4{ margin-right: 16px;}
.mr-5{ margin-right: 32px;}

.mt-1{ margin-top: 4px !important; }
.mt-2{ margin-top: 8px !important; }
.mt-3{ margin-top: 12px !important;}
.mt-4{ margin-top: 16px !important;}
.mt-5{ margin-top: 32px !important;}

.pr-1{ padding-right: 4px;}
.pr-2{ padding-right: 8px;}
.pr-3{ padding-right: 12px;}
.pr-4{ padding-right: 16px;}
.pr-5{ padding-right: 32px;}

.bg-opciones-fondo{
    display: flex;
    background-color: #e0e0e0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7px;
    padding-right: 5px;
    border-radius: 5px;
    color: #474747;
}

.col1{
    flex-grow: 1;
}
.col2{
    flex-grow: 9;
}

.border0{
    border: 0;
}

.body-content{
    position: relative;
    top: 40px;
    padding: 15px;
    margin: 15px;
}


.itemmenu{
    min-width: 25px !important;
}