.bread{
    color: #e22808 !important;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #dadada9a;
}

.bread-item{
    font-size: 10px;
    color: #681b1b !important;
    text-decoration: none !important;
    margin-right: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}
.bread-item2{
    font-size: 10px;
    color: #681b1b !important;
    text-decoration: underline !important;
    margin-right: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width:360px){
    .bread-item, .bread-item2{
        font-size: 8px;
    }
}